.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $day-of-the-week-space * 7;
  margin: 20vh auto;

  > div {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: $cell-size;
    height: $cell-size;
    margin-right: $cell-indent;
    margin-bottom: $cell-indent;
    border: $cell-border;
    background-color: $cell-background;
    transition: all 0.5s;

    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translate(0, -20px);
    }
  }
}
