.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 767px;
  padding: 30px;

  > div {
    position: relative;
    display: block;
    flex-shrink: 0;
    width: $cell-size;
    height: $cell-size;
    margin-right: 1px;
    margin-bottom: 1px;
    border: $cell-border;
    background-color: $cell-background;
    transition: all 0.5s;

    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translate(0, -20px);
    }
  }
}
