@for $i from 28 through 31 {
  .calendar-#{$i} div:nth-child(n + #{$i + 1}) {
    display: none;
  }
}

@for $i from 1 through 7 {
  .calendar-#{map-get($day-of-the-week-map, $i)} {
    :first-child {
      margin-left: ($i - 1) * ($day-of-the-week-space);
    }
  }
}

@for $c from 1 through 31 {
  .calendar > :nth-child(#{$c})::after {
    content: "#{$c}";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
