$cell-size: 100px;
$cell-indent: 1px;
$cell-background: #eee;
$cell-border: 1px solid;
$day-of-the-week-space: $cell-size + $cell-indent;
$day-of-the-week-map: (
  1: "mon",
  2: "tue",
  3: "wed",
  4: "thu",
  5: "fri",
  6: "sat",
  7: "sun"
);
